/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/cover.jpg);
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav h1 {
    width: 120px;
    cursor: pointer;
    color: #ff0000;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 10px;
    transition: 0.3s;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after {
    width: 100%;
    transition: 0.3s;
}