/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/cover.jpg);
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav h1 {
    width: 120px;
    cursor: pointer;
    color: #ff0000;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 10px;
    transition: 0.3s;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after {
    width: 100%;
    transition: 0.3s;
}

.header-text {
    margin-top: 16%;
    font-size: 35px;
}
.header-text h1 {
    font-size: 50px;
    margin-top: 15px;
}
span {
    color: #ff0000;
}
/* 
about */

#about {
    padding: 80px 0;
    color: #ffffff;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-col-1 {
    flex-basis: 30%;
}
.about-col-2 {
    flex-basis: 65%;
}
.about-col-2 h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.about-col-1 img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 15px;
    margin-top: 50px;
}
.sub-title {
    font-size: 60px;
    color: #ffffff;
    font-weight: 600;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;

}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff0000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: #b54769;
    font-size: 14px
}

.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* services */
#services {
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s;
}   
.services-list div i {
    font-size: 35px;
    margin-bottom: 25px;
}
.services-list div h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover {
    background-color: #ff0000;
}